<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="end_effector">

  <!-- Constants for robot dimensions -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="mass" value="0.001" /> <!-- arbitrary value for mass -->
  <xacro:property name="width" value="0.25" />
  <xacro:property name="height" value="0.5" />
  <xacro:property name="length" value="0.025" /> 
  <xacro:property name="radius" value="0.05" /> 
  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find end_effector)/urdf/end_effector.gazebo" />

  <xacro:macro name="end_effector_kuka_lwr" params="parent name *origin">

    <joint name="fixed" type="fixed">
      <parent link="${parent}"/>
      <child link="link_cubo1"/>
      <xacro:insert_block name="origin"/>
    </joint>


    <link name="link_cubo1">
      <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${radius}" length="${length}"/>
      </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${radius}" length="${length}"/>
        </geometry>
        <material name="orange"/>
      </visual>

      <inertial>
        <mass value="${mass}"/>
        <origin xyz="0 0 0"  />
        <cylinder_inertia_def radius="0.05" length="0.025" mass="${mass}"/>
      </inertial>

    </link>

    <joint name="joint1" type="fixed">
      <parent link="link_cubo1"/>
      <child link="link_cubo2"/>
      <origin xyz="0 0 0.025" rpy="0 0 0"/>
    </joint>


    <link name="link_cubo2">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${radius}" length="${length}"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${radius}" length="${length}"/>
        </geometry>
        <material name="orange"/>
      </visual>

      <inertial>
        <mass value="${mass}"/>
        <origin xyz="0 0 0"  />
        <cylinder_inertia_def radius="0.05" length="0.025" mass="${mass}"/>
      </inertial>
    </link>


    <joint name="fixed2" type="fixed">
      <parent link="link_cubo2"/>
      <child link="link_sfera"/>
    </joint>

    <link name="link_sfera">
      <collision>
        <origin xyz="0 0 0.005" rpy="0 0 0"/>
        <geometry>
          <sphere radius="${radius}"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0.005" rpy="0 0 0"/>
        <geometry>
          <sphere radius="${radius}"/>
        </geometry>
      </visual>
    </link> 

  </xacro:macro>

  <xacro:kuka_lwr_gazebo_ft_sensor name="lwr"/>
  
</robot>
